.card {
    width: 500px;
    height: 500px;
    border: 1px solid #000000;
    background: #d3dbd8;
}

.middle {
    text-align: center;
}


.names {
    font-size: 18px;
    font-weight: 650;
    clear: both;
    margin-top: 40px;
}

hr {
    border: 1px dashed #c0bebe;
    clear: both;
}

ul {
    list-style: none;
    margin-left: 130px;
    padding-bottom: 10px;
    padding-top: 10px;
}

li {
   
    float: left;
    padding: 10px;
    
}